html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #34EBEB;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

p {
  color: #555555;
}

h2 {
  color: #065987;
  font-size: 24px;
  padding: 0 10px;
  margin-top: 10px;
  font-weight: 700;
}


input {
  width: 590px;
  border: 1px solid #555555;
  border-radius: 8px !important;
  padding: 0 10px;
}

input::placeholder {
  font-size: 12px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color:none !important;
  border:1px solid #065987;
  box-shadow:none !important;
  outline: 0 none;
}

input[type="checkbox"] {
  width: 40px;
  height: 44px;
  margin: 3px 10px 3px 0;
}

.submit {
  background-color: #34EBEB;
  border: none;
  border-radius: 50px;
  width: 422px;
  height: 70px;
  padding: 0px 60px;
  margin: 30px 0;
  color: #000000 !important;
  font-weight: 400;
  font-size:25px;
}

.otp {
  background-color: #34EBEB;
  border: none;
  border-radius: 50px;
  padding: 13px 16px;
  margin: 30px 0;
  height:50px;
  color: #000000 !important;
  font-weight: 400;
  margin:0;
  font-size:18px;
}

.otp:hover,.submit:hover {
  background-color: #34EBEB !important;
  opacity:0.8;
}

.otp:focus,
.submit:focus {
  background-color: #065987 !important;
  outline:none !important;
}


.hr {
  height: 1px;
  background-color: #ADADAD;
  width: 250px;
}

.navbar {
  border-radius: 0;
  background-color: #065987;
  border-color: #065987;
  min-height: 100px;
}

.navbar-brand,
.navbar li a {
  padding: 0 15px;
  height: 100px;
  line-height: 100px;
  font-size: 18px;
}

.navbar-brand {
  padding: 15px;
  margin: 0 auto;
}

.navbar a {
  color: #ffffff !important;
}

.navbar li:active {
  background-color: #065987 !important;
}
