

.contain {
    padding: 53px 92px;
}

.contain p {
    font-weight:400;
    font-size:24px;
}

.basic {
    color: #BBBBBB;
}

.business {
    color: #065987;
    margin: 0 48px;
}

.address {
    color: #BBBBBB;
}

.contain .box {
    height:100%;
    width:100%;
    border: 0.2px solid #BBBBBB;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.contain .box input {
    margin:0 !important;
    height:44px !important;
    width:590px;
    /* #857070 */
}

.contain .box p {
    text-align:left;
    font-weight:400;
    font-size:14px;
}

.contain .box h2 {
    font-weight:700;
    font-size:20px;
    color:#000000;
}

.contain .box .docs {
    font-weight:700;
}

.center {
    padding: 32px;
    display:flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 480px) {
    .contain {
        padding: 20px 20px;
    }

    .contain p {
        font-weight: 400;
        font-size: 16px;
    }

    .business {
        margin: 0 20px;
    }

    .contain .box input,
    .contain .box select {
        width: 100%;
    }

    .flex {
        flex-direction: column;
        align-items: center;
    }

}

@media (min-width: 480px) and (max-width:1024px) {
    .contain {
        padding: 20px 40px;
    }
    .contain .box input,
    .contain .box select {
        width: 100%;
    }
    .business {
        margin: 0 30px;
    }
}

